SECRET_KEY=asdsadascasdcasdcascdascsacdasfvgbfdbgdfadfgdfgaas
ANTHROPIC_API_KEY=sk-ant-...
DATABASE_URL=sqlite+aiosqlite:///./mediassist.db
CHROMA_PERSIST_DIRECTORY=./chroma_db
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7
OTEL_ENABLED=false
DEBUG=true
CORS_ORIGINS=http://localhost:3000
